/* Pallete */
/*
#41436A
#984063
#F64668
#FE9677
#ffffff
#000000
*/
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=IM+Fell+French+Canon&display=swap"); */

@font-face {
  font-family: "Ultra";
  src: url("/font/Ultra-Regular.ttf");
}
@font-face {
  font-family: "Secular";
  src: url("/font/SecularOne-Regular.ttf");
}
@font-face {
  font-family: "Satisfy";
  src: url("/font/Satisfy-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #0c0c0c; */
  background-color: #1f2122;

  overflow-x: hidden;
  color: #ffffff;
}
body::-webkit-scrollbar {
  width: 0.1em;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

/* @font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot");
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.svg#AvenirNextW10-Bold")
      format("svg");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
} */

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.txg {
  color: #b8bcbf;
}

.ld-04 {
  letter-spacing: 0.025em;
}

.lh-6 {
  line-height: 1.08;
}

.text-80 {
  font-size: 80px;
}

.font-4 {
  font-family: Inter, sans-serif;
}

.tr04 {
  transition: 0.4s;
}

.clearNav {
  /* backdrop-filter: saturate(180%) blur(5px) !important; */
  /* background-color: rgba(0, 0, 0, 0.7) !important; */
  /* backdrop-filter: saturate(180%) blur(5px) !important; */
pointer-events:none;
  background-color: transparent !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  background-color: #d84839;
  color: #000000;
  padding: 2rem;
  border-radius: 15px;
  max-width: 45vh;
  /* border-top-right-radius: 30px; */
  /* border: 4px solid #ea336b; */
  /* border-bottom: none;
  border-right: none; */
}
.carousel-img {
  background-color: #ffffff;
  color: #010822;
  /* border-radius: 15px; */
  /* border: 2px solid #ecd94a; */
  border-left: none;
  border-right: none;
}
.fkrr1 {
  font-family: "Inter", sans-serif;
}
.border-bot {
  border: 2px solid #f64668;
  border-right: none;
  border-left: none;
  border-top: none;
}
.hero .slick-slide {
  transition: all 100ms ease;
  padding-left: 14px;
  padding-right: 14px;
}
.cut-corner {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0);
}
.cut-right {
  clip-path: polygon(0% 0%, 91% 0, 100% 50%, 92% 100%, 0% 100%);
}
.cut-msg {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93%,
    80% 93%,
    78% 100%,
    69% 93%,
    0 93%
  );
}
.cut-circle {
  clip-path: circle(68% at 60% 35%);
}

.cut-parallel {
  clip-path: polygon(0% 0, 100% 0%, 97% 100%, 0% 100%);
  color: #eab446;
}
/*
.carousel__slider {
  margin-top: 30px;
  margin-left: 30px;
}

div > .slick-slide {
  width: auto;
}

.slick-list {
  overflow: hidden;
  margin-left: 30px;
}

 .slick-slide {
  transition: all 100ms ease;
  padding-left: 2%;
  padding-right: 2%;
} 

 .slick-slide:hover{
    transform: scale(1.05);
  } 

  .slick-slider > button {
    display: none;
  }
  
  .slick-next {
    display: none;
  }
*/
